﻿﻿html {
    position: relative;
}

body {
    font-family: 'Lato', sans-serif;
}

#s {
    color: green;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
}

    header ul li a, .__react_bs_dd_trigger {
        color: #fff;
        font-weight: 400 !important;
    }

        header ul li a:hover, header ul li a:focus, .__react_bs_dd_trigger:hover, .__react_bs_dd_trigger:focus {
            background: transparent !important;
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
        }

.navbar-nav > li > a {
    padding: 14px;
}

.navbar-nav {
    margin: 0;
}

header .dropdown {
    position: unset !important;
}

#__react_bs_dd_menuItems {
    right: 0;
    background-color: rgba(0,0,0,.5) !important;
    border-top: 1px solid rgba(255,255,255,.4);
}

    #__react_bs_dd_menuItems .navLink {
        padding: 0 20px;
        color: #fff;
    }

        #__react_bs_dd_menuItems .navLink:hover {
            color: #fff;
        }


.glyphicon {
    font-size: 9px;
}

.jumbotron {
    background-color: #55bdf7;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    margin: 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}

.listaOdabira {
    position: absolute;
    width: 200px;
}
.zavodDesno {
    position: relative;
    right: 10px;
}
.odabirMojZavodAkGod {
    position: absolute;
    left: 0px;
    height: 100px;
    width: 10%;
}
.odabirMojZavod {
    position: relative;
    left: 12%;
    height: 100px;
    width: 30%;
}
.odabirMojZavodd {
    position: absolute;
    left: 5%;
    height: 100px;
    width: 20%;
}
.listaOdabiraZavod {
    position: absolute;
    width: 100px;
}

.tablicaZavod {
    position: absolute;
    left: 150px;
    height: 500px;
    width: 400px;
}

.ss {
    width:100%;
    height: 800px;
}

.sss {
    width: 100%;
    height: 900px;
}

.button1 {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button1:hover {opacity: 1}


.tablicaOpterecenje{
    text-align: center;
    width:100%;
}

.tablicaDesno {
    position:absolute;
    right: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.leftTablica {
    position: relative;
    width: 200px;
}
.malaTablica{
    position: relative;
    width: 400px;
}
.lijevo {
    position: relative;
    left: 20px;
}

.tablica {
    position: absolute;
    height: 500px;
    left: 200px;
    width: 800px;
}


.tablicaMojZavod {
    position: relative;
    width: 250px;
    top: -150px;
    height: 500px;
    left: 110px;
}

.jumbotron .intro {
    z-index: 1;
    position: relative;
    text-align: center;
    margin: 50px 0 30px;
}

.user-handle {
    width: 400px;
    background: rgba(255,255,255,.7);
    position: relative;
    margin: 0 auto;
    top: 20%;
}

    .user-handle p {
        font-size: 18px;
        color: black;
    }


    .user-handle .input-group-addon:first-child {
        border-right: 0;
        background: transparent;
        border: none;
    }


    .user-handle .form-box {
        padding: 30px;
    }
    .submitt {
        width: 70px;
        height: 70px;
    }
    .user-handle .btn {
        margin: 0 auto;
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .user-handle .form-box .form-top {
        text-align: center;
        margin-bottom: 30px;
    }

.form-box .glyphicon-list-alt {
    font-size: 25px;
    background: #fff;
    padding: 25px;
    border-radius: 50%;
}

.form-box .form-bottom {
    margin-bottom: 40px;
}

.form-box .form-group {
    position: relative;
    margin-bottom: 20px,
}

.form-box .glyphicon-user, .form-box .glyphicon-lock {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: lightgray;
}

.form-box input {
    padding-left: 32px;
}

.pages {
    min-height: calc(100vh - 70px);
}

    .pages h1 {
        margin-top: 75px;
    }

.back-button {
    display: inline-block;
    padding: 5px;
    color: black
}

footer {
    background: black;
    padding: 20px 0;
    color: #fff;
}


@media screen and (min-width: 2px) {

    #__react_bs_dd_menuItems .navLink {
        display: block;
        padding: 5px 0;
    }

    #__react_bs_dd_menuItems, header {
        background-color: rgba(0,0,0,.8) !important;
    }

    .navbar-nav, .nav > li {
        display: inline-block;
    }

    .navbar-right {
        float: right;
    }
}
